#!/usr/bin/make -f

SHELL := /bin/bash

override_dh_auto_install:
	dh_auto_install --destdir=debian/tmp
	find debian/tmp/usr/lib/python*/*-packages -type f -name '*.pyc' -exec rm -rf {} \;
	fdupes -qnrps debian/tmp/usr/lib/python*/*-packages

override_dh_install:
	dh_install
	find debian/python3-sklearn/usr/lib/python*/*-packages -type f -name '*.so' -exec rm -rf {} \;

override_dh_auto_test:

override_dh_auto_clean:

%:
	dh $@ --buildsystem=pybuild --with python3
